.footer {
  background-color: black;
  color: white;
  padding: 80px 0px 20px 0px;
  margin: 20px 0px 0px 0px;
}

.footer-subscription > p{
  margin: 10px;
  font-size: large;
}

.emailInput {
    padding: 8px 20px;
}

.email {
  height: 32px;
  padding: 8px 20px;
  margin: 20px;
}

.row {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.col {
  color: #fff;
  padding: 30px 50px;
  display: inline-block;
}

div.footer-trademark > p {
  margin: 0px 0px 0px 20px;
}

.socialIcons {
  gap: 1rem;
  display: inline-flex;
}

.footer-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}


@media (max-width: 750px) {
  .row {
    flex-direction: column;
  }

  .socialMedia-wrap {
    flex-direction: column;
  }
}
